.button {
	color: #fff;
	border: none;
}

.accept {
	composes: button;
	background-color: #418541;
}

.partial {
	composes: button;
	background-color: #d7a120;
}

.reject {
	composes: button;
	background-color: #cd4c45;
}
