@colorAccept: #418541;
@colorPartial: #d7a120;
@colorReject: #cd4c45;

.button {
	color: #fff;
	border: none;
}

.accept {
	composes: button;
	background-color: @colorAccept;
}

.partial {
	composes: button;
	background-color: @colorPartial;
}

.reject {
	composes: button;
	background-color: @colorReject;
}
